<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div class="row">
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <!-- Form register -->
                <form>
                    <h2 class="text-center font-up font-bold deep-orange-text py-4">Sign up</h2>
                    <div class="md-form">
                        <i class="fa fa-user prefix grey-text"></i>
                        <input type="text" placeholder="Your name" #uname value="{{name}}" id="orangeForm-name3"
                            class="form-control">
                        <!-- <label for="orangeForm-name3"></label> -->
                    </div>
                    <div class="md-form">
                        <i class="fa fa-user prefix grey-text"></i>
                        <input type="email" placeholder="Your email" #uemail id="orangeForm-email3"
                            class="form-control">
                    </div>
                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="password" placeholder="Your password" #upassword id="orangeForm-pass3"
                            class="form-control">
                    </div>
                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="text" placeholder="Your address" #uaddress id="orangeForm-addrs3"
                            class="form-control">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-deep-orange"
                            (click)="confirm(uname.value,uemail.value,upassword.value,uaddress.value)">subscribe<i
                                class="fa fa-angle-double-right pl-2" aria-hidden="true"></i></button>
                    </div>
                </form>
                <!-- Form register -->
            </div>
        </div>
    </div>
    <!-- Grid column -->
</div>